*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
main{
    width: 100vw;
    height: 100vh;
}

video{
    width: 100%;
    height: auto;
}

#dois{
    display: none;
}
#tres{
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
  }

@media (max-width: 850px){
    #dois{
        display: block;
    }
}

@media (max-width: 421px){
    #tres{
        display: block;
    }
}